[submodule "modules/spades_ws3_dataInit"]
	path = modules/spades_ws3_dataInit
	url = https://github.com/PredictiveEcology/spades_ws3_dataInit
[submodule "modules/spades_ws3"]
	path = modules/spades_ws3
	url = https://github.com/PredictiveEcology/spades_ws3
[submodule "modules/spades_ws3_landrAge"]
	path = modules/spades_ws3_landrAge
	url = git@github.com:AllenLarocque/spades_ws3_landrAge.git
[submodule "modules/scfm"]
	path = modules/scfm
	url = https://github.com/PredictiveEcology/scfm
[submodule "modules/Biomass_borealDataPrep"]
	path = modules/Biomass_borealDataPrep
	url = https://github.com/PredictiveEcology/Biomass_borealDataPrep
[submodule "modules/Biomass_core"]
	path = modules/Biomass_core
	url = https://github.com/PredictiveEcology/Biomass_core
[submodule "modules/Biomass_regeneration"]
	path = modules/Biomass_regeneration
	url = https://github.com/PredictiveEcology/Biomass_regeneration
[submodule "modules/LandR_reforestation"]
	path = modules/LandR_reforestation
	url = https://github.com/ianmseddy/LandR_reforestation
