.Rproj.user
cache
input
output
.Rhistory
.Rdata
.RData
.secret
.secrets
.Rprofile
.Restart*
.httr-oauth
.DS_Store
.quarto
.venv
modules/scfmDataPrep
modules/scfmDiagnostics
modules/scfmIgnition
modules/scfmEscape
modules/scfmSpread
