[submodule "modules/spades_ws3_dataInit"]
	path = modules/spades_ws3_dataInit
	url = https://github.com/PredictiveEcology/spades_ws3_dataInit
[submodule "modules/spades_ws3"]
	path = modules/spades_ws3
	url = https://github.com/PredictiveEcology/spades_ws3
[submodule "modules/spades_ws3_landrAge"]
	path = modules/spades_ws3_landrAge
	url = https://github.com/ianmseddy/spades_ws3_landrAge
[submodule "modules/scfm"]
	path = modules/scfm
	url = https://github.com/PredictiveEcology/scfm
